*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #ff1616;
}

img {
    height: 200px;
    width: 200px;
}

.menunav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


