*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner {
    width: 100%;
}



