*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:blue;
    padding: 20px 0;
}

.cabecalho {
    width: 940px;
    margin: 0 auto;
    
}

.menunav img  {
    height: 250px;
}

.menunav {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;   
}

.menunav ul {
    display: flex;
    flex-direction: row;

}

.banner {
    width: 100%;
    height: 100%;
}

.about {
    margin-top: 60px;
    color: #21468a;    
    padding: 20px;
}

.about h1 {
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.about p {
    padding-bottom: 20px;
    text-align: justify;
}

.image-matriz {
    width: 100%;
}

.history {
    padding: 30px;
    color: #21468a;
}

.history h2 {
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 40px;
}

.history p {
    text-align: justify;
}



.image-matriz {
    text-align: center;
}

.services {
    text-align: center;
    padding: 30px;
    color: #21468a;
}

ul {
    list-style: none;
}

.services h2 {
    padding: 20px 0 20px 0;
    font-size: 40px;
}

.services h3 {
    padding: 20px;
    font-size: 25px;
}

.services img {
    width: 60%;
    margin-bottom: 20px;
}




